@media (width < 1000px) {
    #div-aux {
        display: none;
    }
    #div-flecha {
        display: none;
    }
}

@media (width >= 1000px) {
    #image-home2-small {
        display: none;
    }
}